.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

.footer {
  flex-shrink: 0;
  order: 1;
}

.footer-images {
  height: 8%;
  width: 8%;
}
